<style is="custom-style">
.rom{

}@font-face {
    font-family: Lato-Black;
    src: url('../fonts/Lato-Black.ttf');
}
@font-face {
    font-family: Lato-BlackItalic;
    src: url('../fonts/Lato-BlackItalic.ttf');
}
@font-face {
    font-family: Lato-Bold;
    src: url('../fonts/Lato-Bold.ttf');
}
@font-face {
    font-family: Lato-BoldItalic;
    src: url('../fonts/Lato-BoldItalic.ttf');
}
@font-face {
    font-family: Lato-Hairline;
    src: url('../fonts/Lato-Hairline.ttf');
}
@font-face {
    font-family: Lato-HairlineItalic;
    src: url('../fonts/Lato-HairlineItalic.ttf');
}
@font-face {
    font-family: Lato-Heavy;
    src: url('../fonts/Lato-Heavy.ttf');
}
@font-face {
    font-family: Lato-HeavyItalic;
    src: url('../fonts/Lato-HeavyItalic.ttf');
}
@font-face {
    font-family: Lato-Italic;
    src: url('../fonts/Lato-Italic.ttf');
}
@font-face {
    font-family: Lato-Light;
    src: url('../fonts/Lato-Light.ttf');
}
@font-face {
    font-family: Lato-LightItalic;
    src: url('../fonts/Lato-LightItalic.ttf');
}
@font-face {
    font-family: Lato-Medium;
    src: url('../fonts/Lato-Medium.ttf');
}
@font-face {
    font-family: Lato-MediumItalic;
    src: url('../fonts/Lato-MediumItalic.ttf');
}
@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: Lato-Semibold;
    src: url('../fonts/Lato-Semibold.ttf');
}
@font-face {
    font-family: Lato-SemiboldItalic;
    src: url('../fonts/Lato-SemiboldItalic.ttf');
}
@font-face {
    font-family: Lato-Thin;
    src: url('../fonts/Lato-Thin.ttf');
}
@font-face {
    font-family: Lato-ThinItalic;
    src: url('../fonts/Lato-ThinItalic.ttf');
}
section{
    margin: 0 auto;
    height: 643px;
    overflow: auto;
}
@media only screen and (max-width: 320px) {
   
}
.row{
    margin: 0 auto;
}
.container{
  box-shadow: 0 0 5px 0 #a6a6a6 ;
  margin: 7%; 
  padding:2%;
}
table{
    width: 100%;
    display: block;
}
table th tr td{
    font-family: 'Lato-Light';
    font-weight:bolder;
    font-size: 125%;
    padding: 1%;
}
tbody td{
    font-family: 'Lato-Light';
    font-weight:bolder;
    font-size: 100%;
    padding: 1%;
}
.textarea{
    margin: 4% 2% 4% 0!important;
    width: 100%;
}
.textarea iron-autogrow-textarea{
    width: 100%;
}
.page-heading{
	margin:3% 0;
}
.container .page-heading h1{
	font-size: 250%;
    font-family: 'Lato-Black';
    letter-spacing: -50%;
    text-transform: uppercase;
    line-height: 1.1;
    color: #000000;
    font-weight: bolder;
}
.container .page-heading p{
	font-size: 150%;
    font-family: 'Lato-Light';
    letter-spacing: -50%;
    line-height: 1.1;
    color: #767676;
    font-weight: normal;
}
.container .field{
	margin: 1% 0;
}
paper-button{
  background-color: #252626;
  font-size: 15px;
  position: relative;
  text-align: center;
  display: inline-block;
  color: white;
  padding: .5em 1em;
}
.button{
	margin-top: 2%;
	width: 50%;
	color: #ffffff;
	text-align: center;
    vertical-align: center;
    margin: 0 auto;
    font-family: 'Lato-Black';
}
body{
    background-color: #d9d9d9 !important;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Lato-Light';
    font-weight:bold;
}
.container .field iron-autogrow-textarea{
    width: 95%;
    height: 3.5em !important;   
    padding: 1%;
}
.login-card{
    width: 25%;
    height: 100%;
    margin: 5% auto;
    background-color: #ffffff;
}
.container.registration{
    width: 60%;
    height: 100%;
    margin: 5% auto;
    background-color: #ffffff;
}
.registration h1{
    margin: 5% 0 0 0;
}
.registration .buttons{
    margin: 2% auto;
    text-align: center;
}
 @media(max-width:767px){
    .login-card{width: 75%;}
}
 @media(max-width:767px){
    .page-heading{font-size: 10px;}
    .heading-messsage{font-size: 23px;}
    .feedback .greeting{font-size: 20px;}
    .feedback .message-content{font-size: 20px;}
    .container .field iron-autogrow-textarea{ height: 2em; width:97% !important; }
    .from{font-size: 10px;}
    #details .mobile{float: none;}
    #details .mail{float: none;}
    .when .time p{font-size: 12px;}
}
.login-card paper-dropdown-menu{
    width: 100%;
}
.icon{
    margin: 0 auto;
    text-align: center;
}
.iconbutton{
  width: 35%;
  height: 35%;
 }
 h2 {
    font-size: 150%;
    font-family: 'Lato-Black';
    letter-spacing: -50%;
    text-transform: uppercase;
    line-height: 1.1;
    color: #000000;
    font-weight: bolder;
}
paper-dialog{
    padding: 1%;
}
.top{

}
.inbox-top .date{
    float: right;
    position: absolute;
    font-family: 'Lato-Light';
    font-weight: bold;
    right: 8.5%;
    width: 10%;
}
.inbox-top .time{
    float: right;
    position: absolute;
    font-family: 'Lato-Light';
    font-weight: bold;
    right: 25%;
    width: 5%;
}
.greeting{
    text-align: left;
    font-family: 'Lato-Light';
    font-size: 125%;
    font-weight:bold;
    padding: 1% 2.5%;
}
.close-button{
    float: right;
    position:absolute;
    top:0;
    right:0;
}
.request-id{
    font-weight: bold;
    font-family: 'Lato-Light';
    font-size: 100%;
    margin: 0 0 0 2.5%;
}
.feedback p{
    text-align: left;
    font-family: 'Lato-Light';
    font-weight:bold;
    font-size: 125%;    
    padding: 1% 2.5%;
}
.parent-message{
    margin: 0 auto;
    text-align: center;
}
.parent-message .buttons, .dialog .buttons{
    margin: 2% auto;
    text-align: center;
}
.parent-message .buttons paper-button, .dialog .buttons paper-button{
    margin: 0 auto;
    text-align: center;
}
.detail{
    display: inline-block;
    height: 1.2em;
    width: 100%;
    cursor:pointer;
}
.inbox-top{
    width: 50%;
}
.action{
    position: absolute;
    right: 10%;
}
.inbox-message{
    width: 70%;
    height: 4em;
}
.inbox-content{
    width: 96%;
    margin: 2% 0;
    padding: 2%;
}
.from{
    float: left;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Lato-Light';
}
.when{
    text-align: justify;
    float: right;
    margin-right: 2%; 
}
.from p, .time p{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
#details{
    display: block;
    width: 100%;
    margin: 2%;
}
.when p{
    margin: 1%;
    padding: 0;
    float: right;
}
.category_icon{
    height: 50%;
}
.category_icon1{
    height: 100%;
}

</style>
